<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hymn_bac">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_music_note_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_music_note_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight">
        <activity
            android:name=".HymnViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".HymnListView"
            android:exported="false"
            android:label="@string/title_activity_hymn_list_view" />
        <activity android:name=".viewpager.ScreenSlidePagerActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>